@import url(https://fonts.googleapis.com/css?family=Tangerine);

h1 {
  /* banner breaks if this is removed */
}

div.banner  {
  font-size: 56px;
  font-weight:bold;
  
  width: 100%;
  margin: 0 auto;
  /*background: #ccc;*/
  background-color: #8E793E;
  height: 90px;
  font-family: 'Tangerine', serif;
  text-align:center;
  font-color: white;
  margin-top: -10px;
  width:100%;

}


p.instructions {
  font-size:36px;
  font-family: 'Tangerine', serif;
  text-align:center;
  color:white;

}


body {
  font-family: sans-serif;
  background-color: #231F20;
  
}
footer {
  background: black;
  width: 100%;
  height: 100px;
  position: relative;
  bottom: 0;
  left: 0;
}




/*
div.top-box {
  margin: 0 auto;
  text-align:center;
  color:white;
  font-family: 'Tangerine', serif;
  font-size: 30px;
}


div.input-box {
  margin: 0 auto;
  padding-bottom: 10px;
  text-align:center;
  text-align:center;
  color:white;
  font-family: 'Tangerine', serif;
  font-size: 30px;
}*/

.user-input {
  text-align:center;
  color:white;
  font-size:30px;
  font-family: 'Tangerine', serif;

}


.container {
    width: 100%;
    overflow: hidden;
}

.column {
    width: 48%;
    margin: 1%;
    float: left;
}

textarea {
    min-width: 100%;
    max-width: 100%;

    min-height: 80%;
    max-height: 80%;

    overflow: auto;
}

.center {
    clear: both;
    text-align: center;
}

p.text-area-title {
  text-align:center;
  color:white;
  font-family: 'Tangerine', serif;
  font-size: 32px;
}

button{
      align-self:center;
      background:transparent;
      padding:0.5rem 0.5rem;
      margin:0 1rem;
      transition:all .5s ease;
      /*color:#41403E;*/
      font-size:2rem;
      font-family: 'Tangerine', serif;
      color:white;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

      /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
       &:hover{
         box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
      } 
      &.lined.thick{
         border:solid 7px #41403E;
      }
      &.dotted.thick{
         border:dotted 5px #41403E;
      }
      &.dashed.thick{
        border:dashed 5px #41403E;
      }
       &.lined.thin{
         border:solid 2px #41403E;
      }
      &.dotted.thin{
         border:dotted 2px #41403E;
      }
      &.dashed.thin{
        border:dashed 2px #41403E;
      }
    }
  }
}

@media (max-width:620px){
  body{
    h1{
      margin-top:2rem;
    }
    & section{
      display:flex;
      flex-direction:column;
      justify-content:center;
      margin-bottom:1rem;
      & button{
        align-self:center;
        margin-bottom:2rem;
      }
    }
  }
}


